<div class="jam_list">
  <div class="jam_box" data-jam="{{ jam_json }}">
    <h3>{{ jam.name }}</h3>
    <p class="jam_link"><a href="{{ jam.url }}">{{ jam.url }}</a></p>
    <p>{{ jam.description }}</p>

    <div class="progress_outer">
      <div class="date_row">
        <strong>Start date: </strong>
        <span class="start_date">
          {{ jam.start_date }}
        </span>
      </div>
      <div class="date_row">
        <strong>End date: </strong>
        <span class="end_date">
          {{ jam.end_date }}
        </span>
      </div>
    </div>

    {{#if jam.tags }}
    <div class="jam_tags">
      {{#each jam.tags }}
        <span class="jam_tag">{{ this }}</span>
      {{/each }}
    </div>
    {{/if }}
  </div>

  <p class="link_back">
    <a href="../../../">View more jams on CompoHub</a>
  </p>
</div>


<div class="comments_outer">
  <h3>Comment on this jam</h3>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'compohub';
      var disqus_identifier = '{{ jam.slug }}';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
</div>
